<h1>Enter the artist of your cd</h1>

<form action="artists" method="post">
<label for="artist-input">Artist</label>
<input type="text" name="artist-input" id="artist-input">
<button type="submit" class="btn">Submit!</button>
</form>
